.xl {
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
  font-weight: normal;
}

.l {
  font-size: 64px;
  font-weight: normal;
}

.m {
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
}

.s {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

.xs {
  font-size: 18px;
  font-weight: normal;
}
